.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 1.5rem 10rem;
  color: white;
  font-weight: 900;
  font-size: 1.8rem;
  z-index: 2;
  border-radius: 0.5rem;

  &--success {
    background-color: var(--color-tertiary);
  }

  &--error {
    background-color: var(--color-red);
  }
}
